.notes-toolbar {
  width: 100%;
  text-align: left;
  margin-top: 15px;
  border: 2px solid #2d2d2d;
  padding: 10px 25px;
  border-radius: 3px;
  display: flex;
}

.next-note-wrapper {
  width: 70%;
}

.helper-functions {
  width: 30%;
}

.form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.toolbar-row {
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.toolbar-row h3 {
  width: 100%;
}

.toolbar-option {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.pitch {
  border: 1px solid #425e72;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 40px;
  line-height: 50%;
  cursor: pointer;
  margin-top: 5px;
  font-weight: 500;
  transition: all 150ms ease;
}

.pitch.active {
  background-color: #7dc8fc;
  color: #212121;
}

.note-value {
  border: 1px solid #425e72;
  padding: 5px 15px;
  margin-top: 5px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 100ms ease;
}

.note-value.active {
  background: #425e72;
}

.note-division {
  font-size: 0.8em;
  color: #8d8d8d;
}

.note-value.active .note-division {
  color: #bebebe;
}

.note-value.disabled {
  filter: brightness(0.7);
}
