@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.settings-wrapper {
  background: #e6e6e6;
  width: 29%;
  padding: 10px;
  position: sticky;
  top: 80px;
  right: 0;
}

.settings-wrapper h2 {
  text-align: center;
}

.settings-wrapper fieldset {
  width: 80%;
  margin-left: 10px;
  margin-top: 20px;
}

.settings-wrapper legend {
  margin-left: 10px;
  padding: 0 5px;
}

.settings-wrapper .radios {
  margin: 10px 15px;
}

.settings-wrapper div input {
  margin-right: 5px;
}

.settings-properties {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 10px;
}

.property-item {
  width: 40%;
}

#value-items {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  margin-top: 10px;
  font-size: 1rem;
}

#value-items option {
  border: none;
  outline: none;
  background: #e0e0e0;
}

.set-note {
  display: block;
  margin: 40px auto 20px auto;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  border: 1px solid #70a8ff;
  background: #7bbeff;
  color: #3f4755;
  cursor: pointer;
  box-shadow: 0px 0px -5px 5px transparent;
  transition: all 0.2s ease;
}

.set-note:hover {
  box-shadow: 0px 0px 20px -3px #7bbeff;
  background: #60a7ee;
}

.remove-note {
  position: absolute;
  bottom: -50px;
  left: 0;
  padding: 5px 10px;
  outline: none;
  background: #4c4242;
  color: #fefefe;
  font-weight: 600;
  border: none;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
}

.remove-note:hover {
  opacity: 0.9;
}

.not-allowed {
  cursor: not-allowed;
}

.option-container {
  width: 100%;
  height: 30px;
  background: #fff;
  margin-top: 10px;
  position: relative;
}

.option-container__enteredOption {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.option-container__arrow {
  position: absolute;
  top: 3px;
  right: 7px;
}

.option-container__list {
  width: 100%;
  position: absolute;
  list-style-type: none;
  background: #fff;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding: 3px 0;
  max-height: 200px;
  z-index: 1;
  overflow-y: scroll;
  opacity: 0;
  transform: translateY(-30px);
  visibility: hidden;
}

.option-container__listItem {
  padding: 2px;
  width: 75%;
  margin: auto;
  border-top: 1px solid #eaeaea;
  cursor: pointer;
  transition: all 0.2s ease;
}

.option-container__listItem:hover {
  background: #efefef;
}

.option-container__listItem:first-child {
  border: none;
}

.show_list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 0.15s ease;
}
