* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #212121;
    min-height: 3000px;
}

.container {
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 0 10%;

    @media (max-width: 1440px) {
        padding-inline: 5%;
    }

    @media (max-width: 768px) {
        padding-inline: 2%;
    }
    
}

.generator-elements 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}